In [118]:
import pandas as pd

In [119]:
data = pd.read_csv('jan23.csv', low_memory=False)
data

,asset_id,asset_token_id,asset_num_sales,asset_description,asset_asset_contract_asset_contract_type_semi,asset_asset_contract_chain_identifier,asset_asset_contract_created_date,Copy asset_asset_contract_created_date_month,asset_asset_contract_owner,asset_asset_contract_description,...,total_price,payment_token_symbol,payment_token_decimals,payment_token_usd_price,transaction_block_number,transaction_id,transaction_timestamp,transaction_transaction_index,dev_seller_fee_basis_points,id
0,945584035,112997.0,2,NFT Node for tier => OG THOR,False,avalanche,2022,12,NaN,1,...,11900,AVAX,18,22.11,25281946,1114924565,1,0,1000,9469876958
1,945583484,112973.0,2,NFT Node for tier => OG THOR,False,avalanche,2022,12,NaN,1,...,11900,AVAX,18,22.11,25281927,1114922502,1,1,1000,9469866773
2,945583490,112977.0,2,NFT Node for tier => OG THOR,False,avalanche,2022,12,NaN,1,...,11900,AVAX,18,22.11,25282003,1114930027,1,5,1000,9469902320
3,945584040,112993.0,2,NFT Node for tier => OG THOR,False,avalanche,2022,12,NaN,1,...,11900,AVAX,18,22.11,25281980,1114927783,1,9,1000,9469892248
4,941916132,8114.0,2,NFT Node for tier => OG THOR,False,avalanche,2022,12,NaN,1,...,12500,AVAX,18,22.11,25285652,1115306042,1,1,1000,9471746068
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126190,23140429,7305.0,21,NaN,False,ethereum,2021,4,601.0,The Bored Ape Yacht Club is a collection of 10...,...,7730000,WETH,18,2092.11,16332381,927006102,1,0,0,9083552732
126191,23141356,7941.0,53,NaN,False,ethereum,2021,4,601.0,The Bored Ape Yacht Club is a collection of 10...,...,7730000,WETH,18,2092.11,16332381,927006102,1,0,0,9083552769
126192,23142016,8477.0,5,NaN,False,ethereum,2021,4,601.0,The Bored Ape Yacht Club is a collection of 10...,...,11800000,WETH,18,2092.11,16357438,967531992,1,69,0,9152424826
126193,417278586,1.0,104,Take my money!,False,ethereum,2022,5,659623925.0,NaN,...,12000000,WETH,18,2097.48,16461300,1112691665,1,34,0,9459546658
126194,417278586,1.0,104,Take my money!,False,ethereum,2022,5,659623925.0,NaN,...,15000000,WETH,18,2092.11,16361025,972423893,1,205,0,9161964736

In [120]:
data['asset_asset_contract_asset_contract_type_semi'] = data['asset_asset_contract_asset_contract_type_semi'].replace({'TRUE': 1, 'FALSE': 0})
data['asset_collection_is_rarity_enabled'] = data['asset_collection_is_rarity_enabled'].replace({'TRUE': 1, 'FALSE': 0})
data['asset_collection_is_creator_fees_enforced'] = data['asset_collection_is_creator_fees_enforced'].replace({'TRUE': 1, 'FALSE': 0})

In [121]:
data['asset_description'] = data['asset_description'].astype(str)
data['asset_asset_contract_description'] = data['asset_asset_contract_description'].astype(str)

In [122]:
new_column = []

for index, row in data.iterrows():
    if row['asset_description'] == '1' or row['asset_asset_contract_description'] == '1':
        new_column.append(1)
    else:
        new_column.append(0)
        #data3.append(row)

data['generator'] = new_column

In [123]:
data = data.drop(['asset_description','asset_asset_contract_description'], axis=1)

In [124]:
# dropit = 'asset_asset_contract_asset_contract_type_semi'
# data = data.drop(['asset_description','asset_asset_contract_description'], axis=1)

In [125]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 126195 entries, 0 to 126194
Data columns (total 30 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   asset_id                                              126195 non-null  int64
 1   asset_token_id                                        126195 non-null  float64
 2   asset_num_sales                                       126195 non-null  int64
 3   asset_asset_contract_asset_contract_type_semi         126168 non-null  object
 4   asset_asset_contract_chain_identifier                 126195 non-null  object
 5   asset_asset_contract_created_date                     126195 non-null  int64
 6   Copy asset_asset_contract_created_date_month          126195 non-null  int64
 7   asset_asset_contract_owner                            119687 non-null  float64
 8   asset_asset_contract_dev_seller_fee_basis_points      126195 non-null  int64
 9   asset_asset_contract_opensea_seller_fee_basis_points  126195 non-null  int64
 10  asset_asset_contract_seller_fee_basis_points          126195 non-null  int64
 11  asset_collection_dev_seller_fee_basis_points          126195 non-null  object
 12  asset_collection_display_data_card_display_style      126195 non-null  object
 13  asset_collection_safelist_request_status              126195 non-null  object
 14  asset_collection_opensea_seller_fee_basis_points      126195 non-null  object
 15  asset_collection_fees_opensea_fees                    126195 non-null  object
 16  asset_collection_is_rarity_enabled                    126194 non-null  object
 17  asset_collection_is_creator_fees_enforced             126194 non-null  object
 18  event_timestamp                                       126195 non-null  int64
 19  total_price                                           126195 non-null  int64
 20  payment_token_symbol                                  126195 non-null  object
 21  payment_token_decimals                                126195 non-null  int64
 22  payment_token_usd_price                               126195 non-null  float64
 23  transaction_block_number                              126195 non-null  int64
 24  transaction_id                                        126195 non-null  int64
 25  transaction_timestamp                                 126195 non-null  int64
 26  transaction_transaction_index                         126195 non-null  int64
 27  dev_seller_fee_basis_points                           126195 non-null  int64
 28  id                                                    126195 non-null  int64
 29  generator                                             126195 non-null  int64
dtypes: float64(3), int64(17), object(10)
memory usage: 28.9+ MB

In [126]:
data.dropna(inplace=True)

In [127]:
data = data.drop(['asset_id','asset_token_id'], axis=1)

In [128]:
data['asset_asset_contract_asset_contract_type_semi'] = data['asset_asset_contract_asset_contract_type_semi'].astype(int)
data['asset_collection_is_rarity_enabled'] = data['asset_collection_is_rarity_enabled'].astype(int)
data['asset_collection_is_creator_fees_enforced'] = data['asset_collection_is_creator_fees_enforced'].astype(int)

In [129]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119659 entries, 391 to 126194
Data columns (total 28 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   asset_num_sales                                       119659 non-null  int64
 1   asset_asset_contract_asset_contract_type_semi         119659 non-null  int64
 2   asset_asset_contract_chain_identifier                 119659 non-null  object
 3   asset_asset_contract_created_date                     119659 non-null  int64
 4   Copy asset_asset_contract_created_date_month          119659 non-null  int64
 5   asset_asset_contract_owner                            119659 non-null  float64
 6   asset_asset_contract_dev_seller_fee_basis_points      119659 non-null  int64
 7   asset_asset_contract_opensea_seller_fee_basis_points  119659 non-null  int64
 8   asset_asset_contract_seller_fee_basis_points          119659 non-null  int64
 9   asset_collection_dev_seller_fee_basis_points          119659 non-null  object
 10  asset_collection_display_data_card_display_style      119659 non-null  object
 11  asset_collection_safelist_request_status              119659 non-null  object
 12  asset_collection_opensea_seller_fee_basis_points      119659 non-null  object
 13  asset_collection_fees_opensea_fees                    119659 non-null  object
 14  asset_collection_is_rarity_enabled                    119659 non-null  int64
 15  asset_collection_is_creator_fees_enforced             119659 non-null  int64
 16  event_timestamp                                       119659 non-null  int64
 17  total_price                                           119659 non-null  int64
 18  payment_token_symbol                                  119659 non-null  object
 19  payment_token_decimals                                119659 non-null  int64
 20  payment_token_usd_price                               119659 non-null  float64
 21  transaction_block_number                              119659 non-null  int64
 22  transaction_id                                        119659 non-null  int64
 23  transaction_timestamp                                 119659 non-null  int64
 24  transaction_transaction_index                         119659 non-null  int64
 25  dev_seller_fee_basis_points                           119659 non-null  int64
 26  id                                                    119659 non-null  int64
 27  generator                                             119659 non-null  int64
dtypes: float64(2), int64(19), object(7)
memory usage: 26.5+ MB

In [130]:
data['dev_seller_fee_basis_points'] = data['dev_seller_fee_basis_points'].astype(int)
data['asset_collection_opensea_seller_fee_basis_points'] = data['asset_collection_opensea_seller_fee_basis_points'].astype(int)
data['asset_collection_fees_opensea_fees'] = data['asset_collection_fees_opensea_fees'].astype(int)

In [131]:
data.asset_asset_contract_chain_identifier.value_counts()

ethereum         87480
matic            20846
optimism          5737
arbitrum          2558
avalanche         1417
bsc               1115
klaytn             258
arbitrum_nova      248
Name: asset_asset_contract_chain_identifier, dtype: int64

In [132]:
data.asset_collection_display_data_card_display_style.value_counts()

contain    91947
cover      26485
padded      1227
Name: asset_collection_display_data_card_display_style, dtype: int64

In [133]:
data.asset_collection_safelist_request_status.value_counts()

verified                 51606
not_requested            25665
approved                 24765
disabled_top_trending    16216
requested                 1407
Name: asset_collection_safelist_request_status, dtype: int64

In [134]:
data.payment_token_symbol.value_counts()

ETH      82149
MATIC    18418
WETH     15694
WAVAX     1360
BNB        984
MAGIC      608
KLAY       258
WBNB       131
AVAX        57
Name: payment_token_symbol, dtype: int64

In [135]:
data = data.join(pd.get_dummies(data.asset_asset_contract_chain_identifier)).drop(['asset_asset_contract_chain_identifier'], axis=1)
data = data.join(pd.get_dummies(data.asset_collection_display_data_card_display_style)).drop(['asset_collection_display_data_card_display_style'], axis=1)
data = data.join(pd.get_dummies(data.asset_collection_safelist_request_status)).drop(['asset_collection_safelist_request_status'], axis=1)
data = data.join(pd.get_dummies(data.payment_token_symbol)).drop(['payment_token_symbol'], axis=1)

In [136]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 119659 entries, 391 to 126194
Data columns (total 49 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   asset_num_sales                                       119659 non-null  int64
 1   asset_asset_contract_asset_contract_type_semi         119659 non-null  int64
 2   asset_asset_contract_created_date                     119659 non-null  int64
 3   Copy asset_asset_contract_created_date_month          119659 non-null  int64
 4   asset_asset_contract_owner                            119659 non-null  float64
 5   asset_asset_contract_dev_seller_fee_basis_points      119659 non-null  int64
 6   asset_asset_contract_opensea_seller_fee_basis_points  119659 non-null  int64
 7   asset_asset_contract_seller_fee_basis_points          119659 non-null  int64
 8   asset_collection_dev_seller_fee_basis_points          119659 non-null  object
 9   asset_collection_opensea_seller_fee_basis_points      119659 non-null  int64
 10  asset_collection_fees_opensea_fees                    119659 non-null  int64
 11  asset_collection_is_rarity_enabled                    119659 non-null  int64
 12  asset_collection_is_creator_fees_enforced             119659 non-null  int64
 13  event_timestamp                                       119659 non-null  int64
 14  total_price                                           119659 non-null  int64
 15  payment_token_decimals                                119659 non-null  int64
 16  payment_token_usd_price                               119659 non-null  float64
 17  transaction_block_number                              119659 non-null  int64
 18  transaction_id                                        119659 non-null  int64
 19  transaction_timestamp                                 119659 non-null  int64
 20  transaction_transaction_index                         119659 non-null  int64
 21  dev_seller_fee_basis_points                           119659 non-null  int64
 22  id                                                    119659 non-null  int64
 23  generator                                             119659 non-null  int64
 24  arbitrum                                              119659 non-null  uint8
 25  arbitrum_nova                                         119659 non-null  uint8
 26  avalanche                                             119659 non-null  uint8
 27  bsc                                                   119659 non-null  uint8
 28  ethereum                                              119659 non-null  uint8
 29  klaytn                                                119659 non-null  uint8
 30  matic                                                 119659 non-null  uint8
 31  optimism                                              119659 non-null  uint8
 32  contain                                               119659 non-null  uint8
 33  cover                                                 119659 non-null  uint8
 34  padded                                                119659 non-null  uint8
 35  approved                                              119659 non-null  uint8
 36  disabled_top_trending                                 119659 non-null  uint8
 37  not_requested                                         119659 non-null  uint8
 38  requested                                             119659 non-null  uint8
 39  verified                                              119659 non-null  uint8
 40  AVAX                                                  119659 non-null  uint8
 41  BNB                                                   119659 non-null  uint8
 42  ETH                                                   119659 non-null  uint8
 43  KLAY                                                  119659 non-null  uint8
 44  MAGIC                                                 119659 non-null  uint8
 45  MATIC                                                 119659 non-null  uint8
 46  WAVAX                                                 119659 non-null  uint8
 47  WBNB                                                  119659 non-null  uint8
 48  WETH                                                  119659 non-null  uint8
dtypes: float64(2), int64(21), object(1), uint8(25)
memory usage: 29.7+ MB

In [137]:
df2 = pd.DataFrame(columns=data.columns)

# Store the dtypes of original_df columns
dtypes_dict = data.dtypes.to_dict()

# Iterate through the original DataFrame
indices_to_remove = []  # To store indices of rows to be removed
for index, row in data.iterrows():
    if row['generator'] == 1:
        # Add rows where 'a' is equal to 1 to df2
        df2 = df2.append(row, ignore_index=True)
        indices_to_remove.append(index)  # Store indices to remove

# Explicitly cast the types in df2 to match original_df
for col, dtype in dtypes_dict.items():
    df2[col] = df2[col].astype(dtype)
    
data = data.drop(indices_to_remove)

In [138]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15975 entries, 0 to 15974
Data columns (total 49 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   asset_num_sales                                       15975 non-null  int64
 1   asset_asset_contract_asset_contract_type_semi         15975 non-null  int64
 2   asset_asset_contract_created_date                     15975 non-null  int64
 3   Copy asset_asset_contract_created_date_month          15975 non-null  int64
 4   asset_asset_contract_owner                            15975 non-null  float64
 5   asset_asset_contract_dev_seller_fee_basis_points      15975 non-null  int64
 6   asset_asset_contract_opensea_seller_fee_basis_points  15975 non-null  int64
 7   asset_asset_contract_seller_fee_basis_points          15975 non-null  int64
 8   asset_collection_dev_seller_fee_basis_points          15975 non-null  object
 9   asset_collection_opensea_seller_fee_basis_points      15975 non-null  int64
 10  asset_collection_fees_opensea_fees                    15975 non-null  int64
 11  asset_collection_is_rarity_enabled                    15975 non-null  int64
 12  asset_collection_is_creator_fees_enforced             15975 non-null  int64
 13  event_timestamp                                       15975 non-null  int64
 14  total_price                                           15975 non-null  int64
 15  payment_token_decimals                                15975 non-null  int64
 16  payment_token_usd_price                               15975 non-null  float64
 17  transaction_block_number                              15975 non-null  int64
 18  transaction_id                                        15975 non-null  int64
 19  transaction_timestamp                                 15975 non-null  int64
 20  transaction_transaction_index                         15975 non-null  int64
 21  dev_seller_fee_basis_points                           15975 non-null  int64
 22  id                                                    15975 non-null  int64
 23  generator                                             15975 non-null  int64
 24  arbitrum                                              15975 non-null  uint8
 25  arbitrum_nova                                         15975 non-null  uint8
 26  avalanche                                             15975 non-null  uint8
 27  bsc                                                   15975 non-null  uint8
 28  ethereum                                              15975 non-null  uint8
 29  klaytn                                                15975 non-null  uint8
 30  matic                                                 15975 non-null  uint8
 31  optimism                                              15975 non-null  uint8
 32  contain                                               15975 non-null  uint8
 33  cover                                                 15975 non-null  uint8
 34  padded                                                15975 non-null  uint8
 35  approved                                              15975 non-null  uint8
 36  disabled_top_trending                                 15975 non-null  uint8
 37  not_requested                                         15975 non-null  uint8
 38  requested                                             15975 non-null  uint8
 39  verified                                              15975 non-null  uint8
 40  AVAX                                                  15975 non-null  uint8
 41  BNB                                                   15975 non-null  uint8
 42  ETH                                                   15975 non-null  uint8
 43  KLAY                                                  15975 non-null  uint8
 44  MAGIC                                                 15975 non-null  uint8
 45  MATIC                                                 15975 non-null  uint8
 46  WAVAX                                                 15975 non-null  uint8
 47  WBNB                                                  15975 non-null  uint8
 48  WETH                                                  15975 non-null  uint8
dtypes: float64(2), int64(21), object(1), uint8(25)
memory usage: 3.3+ MB

In [139]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 103684 entries, 391 to 126194
Data columns (total 49 columns):
 #   Column                                                Non-Null Count   Dtype
---  ------                                                --------------   -----
 0   asset_num_sales                                       103684 non-null  int64
 1   asset_asset_contract_asset_contract_type_semi         103684 non-null  int64
 2   asset_asset_contract_created_date                     103684 non-null  int64
 3   Copy asset_asset_contract_created_date_month          103684 non-null  int64
 4   asset_asset_contract_owner                            103684 non-null  float64
 5   asset_asset_contract_dev_seller_fee_basis_points      103684 non-null  int64
 6   asset_asset_contract_opensea_seller_fee_basis_points  103684 non-null  int64
 7   asset_asset_contract_seller_fee_basis_points          103684 non-null  int64
 8   asset_collection_dev_seller_fee_basis_points          103684 non-null  object
 9   asset_collection_opensea_seller_fee_basis_points      103684 non-null  int64
 10  asset_collection_fees_opensea_fees                    103684 non-null  int64
 11  asset_collection_is_rarity_enabled                    103684 non-null  int64
 12  asset_collection_is_creator_fees_enforced             103684 non-null  int64
 13  event_timestamp                                       103684 non-null  int64
 14  total_price                                           103684 non-null  int64
 15  payment_token_decimals                                103684 non-null  int64
 16  payment_token_usd_price                               103684 non-null  float64
 17  transaction_block_number                              103684 non-null  int64
 18  transaction_id                                        103684 non-null  int64
 19  transaction_timestamp                                 103684 non-null  int64
 20  transaction_transaction_index                         103684 non-null  int64
 21  dev_seller_fee_basis_points                           103684 non-null  int64
 22  id                                                    103684 non-null  int64
 23  generator                                             103684 non-null  int64
 24  arbitrum                                              103684 non-null  uint8
 25  arbitrum_nova                                         103684 non-null  uint8
 26  avalanche                                             103684 non-null  uint8
 27  bsc                                                   103684 non-null  uint8
 28  ethereum                                              103684 non-null  uint8
 29  klaytn                                                103684 non-null  uint8
 30  matic                                                 103684 non-null  uint8
 31  optimism                                              103684 non-null  uint8
 32  contain                                               103684 non-null  uint8
 33  cover                                                 103684 non-null  uint8
 34  padded                                                103684 non-null  uint8
 35  approved                                              103684 non-null  uint8
 36  disabled_top_trending                                 103684 non-null  uint8
 37  not_requested                                         103684 non-null  uint8
 38  requested                                             103684 non-null  uint8
 39  verified                                              103684 non-null  uint8
 40  AVAX                                                  103684 non-null  uint8
 41  BNB                                                   103684 non-null  uint8
 42  ETH                                                   103684 non-null  uint8
 43  KLAY                                                  103684 non-null  uint8
 44  MAGIC                                                 103684 non-null  uint8
 45  MATIC                                                 103684 non-null  uint8
 46  WAVAX                                                 103684 non-null  uint8
 47  WBNB                                                  103684 non-null  uint8
 48  WETH                                                  103684 non-null  uint8
dtypes: float64(2), int64(21), object(1), uint8(25)
memory usage: 22.2+ MB

In [140]:
df4 = data.sample(frac=0.15, random_state=42)

In [141]:
df4

,asset_num_sales,asset_asset_contract_asset_contract_type_semi,asset_asset_contract_created_date,Copy asset_asset_contract_created_date_month,asset_asset_contract_owner,asset_asset_contract_dev_seller_fee_basis_points,asset_asset_contract_opensea_seller_fee_basis_points,asset_asset_contract_seller_fee_basis_points,asset_collection_dev_seller_fee_basis_points,asset_collection_opensea_seller_fee_basis_points,...,verified,AVAX,BNB,ETH,KLAY,MAGIC,MATIC,WAVAX,WBNB,WETH
73223,2,0,2022,9,2.711087e+08,0,250,250,0,250,...,0,0,0,1,0,0,0,0,0,0
14220,3,0,2023,1,2.081469e+07,800,250,1050,800,250,...,1,0,0,1,0,0,0,0,0,0
86929,1823,1,2022,8,1.707155e+08,500,250,750,500,250,...,0,0,0,0,0,1,0,0,0,0
85518,21,0,2022,3,4.435084e+08,500,250,750,500,250,...,1,0,0,1,0,0,0,0,0,0
29806,7,0,2022,6,4.411083e+08,570,250,820,570,250,...,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11395,4,0,2022,6,4.491373e+08,1000,250,1250,1000,250,...,1,0,0,1,0,0,0,0,0,0
25756,2,0,2022,12,1.808774e+09,690,250,940,690,250,...,0,0,0,1,0,0,0,0,0,0
45942,9,0,2022,2,4.473738e+08,500,250,750,500,250,...,1,0,0,1,0,0,0,0,0,0
22242,2,0,2023,1,1.760429e+08,750,250,1000,750,250,...,0,0,0,1,0,0,0,0,0,0
26032,1,1,2020,12,4.589105e+08,0,250,250,690,250,...,0,0,0,1,0,0,0,0,0,0

In [142]:
df = pd.concat([df2, df4], ignore_index=True)

In [143]:
df.shape

(31528, 49)

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31528 entries, 0 to 31527
Data columns (total 49 columns):
 #   Column                                                Non-Null Count  Dtype
---  ------                                                --------------  -----
 0   asset_num_sales                                       31528 non-null  int64
 1   asset_asset_contract_asset_contract_type_semi         31528 non-null  int64
 2   asset_asset_contract_created_date                     31528 non-null  int64
 3   Copy asset_asset_contract_created_date_month          31528 non-null  int64
 4   asset_asset_contract_owner                            31528 non-null  float64
 5   asset_asset_contract_dev_seller_fee_basis_points      31528 non-null  int64
 6   asset_asset_contract_opensea_seller_fee_basis_points  31528 non-null  int64
 7   asset_asset_contract_seller_fee_basis_points          31528 non-null  int64
 8   asset_collection_dev_seller_fee_basis_points          31528 non-null  object
 9   asset_collection_opensea_seller_fee_basis_points      31528 non-null  int64
 10  asset_collection_fees_opensea_fees                    31528 non-null  int64
 11  asset_collection_is_rarity_enabled                    31528 non-null  int64
 12  asset_collection_is_creator_fees_enforced             31528 non-null  int64
 13  event_timestamp                                       31528 non-null  int64
 14  total_price                                           31528 non-null  int64
 15  payment_token_decimals                                31528 non-null  int64
 16  payment_token_usd_price                               31528 non-null  float64
 17  transaction_block_number                              31528 non-null  int64
 18  transaction_id                                        31528 non-null  int64
 19  transaction_timestamp                                 31528 non-null  int64
 20  transaction_transaction_index                         31528 non-null  int64
 21  dev_seller_fee_basis_points                           31528 non-null  int64
 22  id                                                    31528 non-null  int64
 23  generator                                             31528 non-null  int64
 24  arbitrum                                              31528 non-null  uint8
 25  arbitrum_nova                                         31528 non-null  uint8
 26  avalanche                                             31528 non-null  uint8
 27  bsc                                                   31528 non-null  uint8
 28  ethereum                                              31528 non-null  uint8
 29  klaytn                                                31528 non-null  uint8
 30  matic                                                 31528 non-null  uint8
 31  optimism                                              31528 non-null  uint8
 32  contain                                               31528 non-null  uint8
 33  cover                                                 31528 non-null  uint8
 34  padded                                                31528 non-null  uint8
 35  approved                                              31528 non-null  uint8
 36  disabled_top_trending                                 31528 non-null  uint8
 37  not_requested                                         31528 non-null  uint8
 38  requested                                             31528 non-null  uint8
 39  verified                                              31528 non-null  uint8
 40  AVAX                                                  31528 non-null  uint8
 41  BNB                                                   31528 non-null  uint8
 42  ETH                                                   31528 non-null  uint8
 43  KLAY                                                  31528 non-null  uint8
 44  MAGIC                                                 31528 non-null  uint8
 45  MATIC                                                 31528 non-null  uint8
 46  WAVAX                                                 31528 non-null  uint8
 47  WBNB                                                  31528 non-null  uint8
 48  WETH                                                  31528 non-null  uint8
dtypes: float64(2), int64(21), object(1), uint8(25)
memory usage: 6.5+ MB

In [145]:
df.generator.value_counts()

1    15975
0    15553
Name: generator, dtype: int64

In [146]:
shuffled_df = df.sample(frac=1, random_state=42)

In [147]:
# import pycaret classification and init setup
from pycaret.classification import *
s = setup(shuffled_df, target = 'generator', session_id = 123)

In [148]:
best = compare_models()

In [149]:
evaluate_model(best)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [150]:
predict_model(best)

,asset_num_sales,asset_asset_contract_asset_contract_type_semi,asset_asset_contract_created_date,Copy asset_asset_contract_created_date_month,asset_asset_contract_owner,asset_asset_contract_dev_seller_fee_basis_points,asset_asset_contract_opensea_seller_fee_basis_points,asset_asset_contract_seller_fee_basis_points,asset_collection_dev_seller_fee_basis_points,asset_collection_opensea_seller_fee_basis_points,...,ETH,KLAY,MAGIC,MATIC,WAVAX,WBNB,WETH,generator,prediction_label,prediction_score
6369,1,0,2022,10,4.226891e+08,750,250,1000,750,250,...,1,0,0,0,0,0,0,1,1,0.95
3297,1,0,2021,12,1.770600e+08,500,250,750,500,250,...,1,0,0,0,0,0,0,1,1,0.52
28790,5724,1,2021,10,8.009660e+07,1000,250,1250,1000,250,...,1,0,0,0,0,0,0,0,0,0.95
2658,1,0,2021,11,1.313949e+08,690,250,940,690,250,...,1,0,0,0,0,0,0,1,1,0.86
29671,3,0,2023,1,2.202037e+07,750,250,1000,750,250,...,1,0,0,0,0,0,0,0,0,0.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24280,2,0,2022,3,2.263339e+07,1000,250,1250,1000,250,...,1,0,0,0,0,0,0,0,0,0.96
19998,1,0,2022,7,5.054046e+08,600,250,850,600,250,...,0,0,0,0,0,0,1,0,0,0.59
3185,1,0,2022,8,5.153014e+07,0,250,250,0,250,...,1,0,0,0,0,0,0,1,0,0.66
10202,1,0,2022,10,1.213971e+09,1000,250,1250,1000,250,...,0,0,0,1,0,0,0,1,1,1.00
6076,11,0,2022,2,2.597101e+08,250,250,500,250,250,...,1,0,0,0,0,0,0,1,1,0.87